<!-- <html> -->
{% extends "registration/regTemplate.html" %}


{% block extraHead %}
  <link rel="stylesheet" href="static/css/registration/1-gender.css">
{% endblock %}


{% block form %}
  <div class="stages">
    <div class="complete stage-one">
      1
    </div>
    <p>Add player's details</p>
    <div class="stage-two">
      2
    </div>
    <div class="stage-three">
      3
    </div>
  </div>
  <div class="progress-bar">
    <div class="completed-progress-bar"></div>
  </div>

  <h4>Player's gender</h4>

  <div class="question-box">
    <label class="container">Male
      <input type="radio" checked="checked" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">Female
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
  </div>

  <div class="continue-box">
    <a href="/2" id="continue-button">Continue {{ svg["rightarrow"] }}</a>
  </div>
{% endblock %}
