
/* --------------------------------------------------------------------------- */
                              /* COVER PAGE */
/* --------------------------------------------------------------------------- */

/* COVER PHOTO FOR PAGE */
.cover {
  background-image:
    linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
    url("../images/home-cover.jpg");
}

/* TITLE AND LINE POSITIONING*/
.page-title-and-line {
  position: absolute;
  top: 50%;
  left: 5%;
}

.page-title-and-line h2 {
  color: white;
  font-weight: lighter;
}

/* POSITIONING AND SIZE OF TITLE WHITE LINE */
.page-title-and-line hr {
  width: 60%;
  border: 1px solid white;
  position: absolute;
  margin: 0;
  left: -15%;
  margin-block-start: 0.6em;
}

/* SUBTITLE POSITIONING*/
.subtitle {
  text-align: right;
  margin-block-end: 0.8em;
}

/* --------------------------------------------------------------------------- */
                              /*  FOOTER */
/* --------------------------------------------------------------------------- */

/* GOOGLE MAP */
iframe {
  border: 0;
  margin: 0;
  padding: 0;
  display:block;
}

.map {
  width: 100vw;
  height: 55vh;
}

.footer svg {
  display: inline-block;
}

.footer {
  color: white;
  background-color: #231F20;
  height: 40vh;
  padding: 7vh;
}

.footer h2 {
  margin-bottom: 30px;
}

.footer svg {
  /* text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.1em; */
  margin-right: 20px;
  display: inline-block;
  text-align: center;
}

/* SIZING OF SPONSORS */
.sponsors img {
  height: 120px;
  display: inline-block;
  vertical-align: middle;
}

  /* EVENLY SPACES SPONSORS HORIZONTALLY*/
.sponsors:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.sponsors {
  text-align: justify;
}
