
/* --------------------------------------------------------------------------- */
                              /* COVER PAGE */
/* --------------------------------------------------------------------------- */

/* COVER PHOTO FOR PAGE */
.cover {
  background-image:
    linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
    url("../images/cover/home.jpg");
}

/* TITLE AND LINE POSITIONING*/
.page-title-and-line {
  position: absolute;
  top: 50%;
  left: 5%;
}

.page-title-and-line h2 {
  color: white;
  font-weight: lighter;
}

/* POSITIONING AND SIZE OF TITLE WHITE LINE */
.page-title-and-line hr {
  width: 60%;
  border: 1px solid white;
  position: absolute;
  margin: 0;
  left: -15%;
  margin-block-start: 0.6em;
}

/* SUBTITLE POSITIONING*/
.subtitle {
  text-align: right;
  margin-block-end: 0.8em;
}

/* BUTTON POSITIONING */
.page-title-and-line a {
  position: relative;
  left: 300px;
  top: 20px;
}

/* --------------------------------------------------------------------------- */
                              /*  FOOTER */
/* --------------------------------------------------------------------------- */

/* GOOGLE MAP */
iframe {
  border: 0;
  margin: 0;
  padding: 0;
  display:block;
}

.map {
  width: 100vw;
  height: 55vh;
}

.all-sponsors {
  background-color: #231F20;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.all-sponsors img {
  width: 170px;
}

/* --------------------------------------------------------------------------- */
                      /*  CONTACT ICONS FLOATING BAR */
/* --------------------------------------------------------------------------- */

.contact-floating-bar {
  background-color: rgba(35, 31, 32, 0.4);
  width: 60px;
  height: 240px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  top: 30vh;
}
