
/* --------------------------------------------------------------------------- */
                              /* COVER PAGE */
/* --------------------------------------------------------------------------- */

/* COVER PHOTO FOR PAGE */
.cover {
  background-image:
    linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
    url("../images/home-cover.jpg");
}

/* TITLE AND LINE POSITIONING*/
.page-title-and-line {
  position: absolute;
  top: 50%;
  left: 5%;
}

.page-title-and-line h2 {
  color: white;
  font-weight: lighter;
}

/* POSITIONING AND SIZE OF TITLE WHITE LINE */
.page-title-and-line hr {
  width: 60%;
  border: 1px solid white;
  position: absolute;
  margin: 0;
  left: -15%;
  margin-block-start: 0.6em;
}

/* SUBTITLE POSITIONING*/
.subtitle {
  text-align: right;
  margin-block-end: 0.8em;
}

/* --------------------------------------------------------------------------- */
                              /* SPONSORS */
/* --------------------------------------------------------------------------- */

/* SIZING OF SPONSORS */
/* .sponsors img {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
} */

  /* EVENLY SPACES SPONSORS HORIZONTALLY*/
/* .sponsors:after {
  content: "";
  width: 100vw;
  display: inline-block;
} */

/* .sponsors {
  text-align: justify;
  margin: 4% 9%; */
}

/* --------------------------------------------------------------------------- */
                              /*  CONTACT */
/* --------------------------------------------------------------------------- */

/* GOOGLE MAP */
iframe {
  border: 0;
}

.footer {
  color: white;
  background-color: #231F20;
  padding: 90px;
}

.footer p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
