/* --------------------------------------------------------------------------- */
                              /* COVER PAGE */
/* --------------------------------------------------------------------------- */

/* COVER PHOTO FOR PAGE */
.cover {
  background-image:
    linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
    url("../images/log-in-cover.jpg");
    background-position: center top;
}

/* TITLE AND LINE POSITIONING*/
.page-title-and-line {
  position: absolute;
  top: 10%;
  left: 10%;
}

.title {
  font-size: 2em;
}

.subtitle {
  color: white;
  font-weight: lighter;
  margin-block-start: 1.2em;
  font-size: 1.5em;
}

.cover p {
  color: white;
  margin-block-start: 1.2em;
  line-height: 25px;
}

/* --------------------------------------------------------------------------- */
                              /* LOG IN BOX */
/* --------------------------------------------------------------------------- */

.log-in-sign-up-box {
  background-color: white;
  height: 450px;
  width: 450px;
  position: absolute;
  border-radius: 4px;
  top: 12%;
  right: 6%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.input-group {
  position: relative;
}

.email {
  border: 2px solid #BCBBBC;
  border-radius: 4px;
  padding: 14px 13px;
  font-size: 1em;
  color: #231F20;
  font-family: Avenir, 'Nunito Sans';
  outline: none;
  width: 350px;
}

.email:focus {
  background-color: #E8E8E8;
  border: 2px solid #707070;
}

.label {
  position: absolute;
  color: #656565;
}

#red-button {
  width: 350px;
  padding: 18px;
  text-align: center;
  font-size: 0.7em;
}

#google-button a {
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: rgba(35, 31, 32, 1.00)
}

#google-button {
  border-radius: 4px;
  border: 2px solid rgba(189, 187, 188, 1.00);
  width: 350px;
  text-align: center;
  padding: 14px;
}

.log-in-sign-up-box p {
  color: rgba(35, 31, 32, 1.00);
  font-size: 0.8em;
}
