@import "loginSignup.css";

/* --------------------------------------------------------------------------- */
                              /* SIGN UP BOX */
/* --------------------------------------------------------------------------- */

#line-or-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#line-or-line p {
  margin-left: 10px;
  margin-right: 10px;
}

#line-or-line hr {
  width: 150px;
  border: 1px solid rgba(35, 31, 32, 0.4);
}

#red-button {
  margin-top: 50px;
}

.login-signup-box p {
  color:black;
}
