/*                                   Cover photo                              */
.cover {
  background-image:
    linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
    url("../images/volunteer-cover.jpg");
}

/*                                   Title / Subtitle                         */

/* POSITION OF TITLE */
.page-title-elements {
  position: absolute;
  top: 65%;
  left: 10%;
}

/* LINE */
.page-title-elements hr {
  width: 100%;
  border: 1px solid white;
  position: absolute;
  margin: 0;
  left: -45%;
  margin-block-start: 0.2em;
}

.cover p {
  font-size: 13em;
  letter-spacing: 0.2em;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 38%;
  right: 0%;
  overflow: hidden;
  width: 1150px;
}

.cover svg {
  position: absolute;
  right: 5%;
  top: 80%;
}

.main-info {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}

.main-info h2 {
  font-weight: bold;
  color: #231F20;
  margin-top: 50px;
  margin-bottom: 30px;
}

.main-info hr {
  border: 0.5px solid #A7A5A6;
}

.position h3 {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.position h4 {
  font-size: 0.7em;
  font-size: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#position-filled {
  color: #AB3428;
}

#required {
  color: #2C6E49;
}

#summary {
  font-weight: bold;
  text-align: center;
}

.banner {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #E9E8E8;
  padding: 50px;
}

.banner h2{
  color: #231F20;
  font-weight: bold;
  margin-block-end: 2em;
}

.banner p {
  margin-block-start: 3em;
}

.red-register {
  color: white;
  background-color: #AB3428;
  border-radius: 4px;
  font-weight: bold;
  text-align: right;
  padding: 12px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
