<!-- <html> -->
{% extends "informationPagesTemplate.html" %}


{% block informationPagesHead %}
  <link rel="stylesheet" href="static/css/schedule.css">
  <title>Schedule</title>
{% endblock %}


{% block informationPagesBody %}
<div class="row cover">
  <p id="bigTextOverlay" class="unselectable">Schedule</p>
  {{ svg['scroll down arrow'] }}
  <div class="page-title-and-line">
    <h1 class="title unselectable">Schedule</h1>
    <hr>
  </div>
  <div class="months-timeline-events">
    <div class="months">
      <p>OCT</p>
      <p>NOV</p>
      <p>DEC</p>
      <p>JAN</p>
      <p>FEB</p>
      <p>MAR</p>
      <p>APR</p>
    </div>
    <div class="timeline">
      <hr width="2" size="520">
      <div class="point-1"></div>
      <div class="point-2"></div>
      <div class="point-3"></div>
      <div class="point-4"></div>
      <div class="point-5"></div>
      <div class="point-6"></div>
      <div class="point-7"></div>
      <div class="point-8"></div>
    </div>
    <div class="events">
      <p class="events-1">ASSESSMENTS</p>
      <p class="events-2">TEAMS ANNOUNCED</p>
      <p class="events-3">PRACTICE STARTS</p>
      <p class="events-4">GAMES START</p>
      <p class="events-5">OPENING CEREMONY</p>
      <p class="events-6">WINTER BREAK</p>
      <p class="events-7">CLOSING CEREMONY</p>
      <p class="events-8">ANNUAL TOURNAMENTS</p>
    </div>
  </div>
</div>
<div id="scrollStopHere" class="row main-info">
  <p id="summary">
    The season length and games will be finalised once the number of teams for each division is determined.
  </p>
</div>

<div class="banner">
  <h2 class="unselectable">2020/21 Player Registration Now Open</h2>
  <a href="#" id="red-button" class="unselectable">2020/21 Register Player</a>
  <p>Registration closes October 5, 2020</p>
</div>
{% endblock %}
