/* ######################### main CSS for all pages ######################### */

/*  Fonts  */
@font-face {
  font-family: 'Nunito Sans';
  font-weight: 300;
  src: url('../../vendors/google-fonts/NunitoSans-Light.ttf');
}

@font-face {
  font-family: 'Nunito Sans';
  font-weight: 700;
  src: url('../../vendors/google-fonts/NunitoSans-Bold.ttf');
}

body {
  font-family: Avenir, 'Nunito Sans';
  font-weight: lighter;
  color: #231F20;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h6 {
  font-size: 0.8em;
  font-weight: lighter;
}

p {
  font-size: 1em;
  font-weight: lighter;
}
