@import "reg.css";


.completed-progress-bar {
  width: 16%;
}

.question-box {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 40px 0px;
}

/* -------------------------------------------------------------------------- */
                              /* INPUT TEXT FIELDS */
/* -------------------------------------------------------------------------- */

.input-group {
  position:relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-area {
  border: 2px solid #BCBBBC;
  padding: 15px 13px;
  font-size: 1.2em;
  font-family: Avenir, 'Nunito Sans';
  outline: none;
  border-radius: 4px;
  color: #231F20;
  background-color: transparent;
}

.input-area:focus {
  border: 2px solid #727070;
}

.input-area:focus + label {
  top: -10px;
  padding: 0 3px;
  font-size: 0.8em;
  color: #727070;
}

/* .input-area:valid {
  border: 2px solid #306e49;
}

.input-area:valid + label {
  top: -8px;
  padding: 0 3px;
  font-size: 0.8em;
  color: #306e49;
}

.input-area:invalid {
  border: 2px solid #ab3428;
}

.input-area:invalid + label {
  top: -8px;
  padding: 0 3px;
  font-size: 0.8em;
  color: #ab3428;
} */

label {
  color: #7b7979;
  position: absolute;
  top: 18px;
  left: 13px;
  background-color: white;
  transition: 0.1s;
}

.day {
  width: 80px;
}

.month {
  width: 80px;
}

.year {
  width: 120px;
}
