/* --------------------------------------------------------------------------- */
                                  /* BODY*/
/* --------------------------------------------------------------------------- */

body {
  background-color: rgba(35, 31, 32, 0.05)
}

/* --------------------------------------------------------------------------- */
                                  /* LOGO */
/* --------------------------------------------------------------------------- */

#logo {
  padding: 20px 115px;
}

#logo #dubai {
  font-size: 1.4em;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 0.1em;
}

#logo #littleleague {
  font-size: 0.5em;
  margin-top: 0;
  letter-spacing: 0.15em
}

/* --------------------------------------------------------------------------- */
                                  /* FORM BOX */
/* --------------------------------------------------------------------------- */

#form-box {
  border-radius: 4px;
  width: 600px;
  min-height: 520px;
  padding: 20px 60px;
  background-color: white;
  position: relative;
  margin-left: 100px;
}

.complete {
  font-size: 0.8em;
  font-weight: bold;
  background-color: rgba(35, 31, 32, 1.00);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

.stages {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stage-two {
  font-size: 0.8em;
  font-weight: bold;
  border: rgba(35, 31, 32, 1.00) solid 2px;
  background-color: white;
  color: rgba(35, 31, 32, 1.00);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 15px;
}

 .stage-three {
   font-size: 0.8em;
   font-weight: bold;
   border: rgba(35, 31, 32, 1.00) solid 2px;
   background-color: white;
   color: rgba(35, 31, 32, 1.00);
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   margin-right: 0px;
 }

/* Stage description */
 .stages p {
   font-weight: bold;
   margin-right: 140px;
   width: 230px;
 }

 .progress-bar {
   background-color: rgba(35, 31, 32, 0.10);
   height: 5px;
   border-radius: 2.5px;
 }

 .completed-progress-bar {
   position: absolute;
   background-color: rgba(35, 31, 32, 1);
   height: 5px;
   border-radius: 2.5px;
   /* width: specified on each css page */
 }

 /* ------------------------------------------------------------------------- */
                              /* QUESTiON-SECTION */
 /* ------------------------------------------------------------------------- */

 /* Question title */
 #form-box h4 {
   font-size: 1.5em;
 }

 .question-box {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   margin: 40px 0px;
 }

 /* The container */
 .container {
   position: relative;
   padding-left: 35px;
   width: 210px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-direction: row-reverse;
   padding: 15px;
   cursor: pointer;
   border: rgba(35, 31, 32, 0.30) solid 2px;
   border-radius: 4px;
 }

 .container:hover {
   border: rgb(35, 31, 32) solid 2px;
 }

 /* Hide the browser's default radio button */
 .container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }

 /* Create a custom radio button */
 .checkmark {
   height: 25px;
   width: 25px;
   border-radius: 50%;
   border: rgba(35, 31, 32, 0.30) solid 2px;
   margin-right: 15px;
 }

 /* When the radio button is checked, add a blue background */
 .container input:checked ~ .checkmark {
   background-color: white;
   border: rgba(35, 31, 32, 1.00) solid 2px;
 }

 /* Create the indicator (the dot/circle - hidden when not checked) */
 .checkmark:after {
   content: "";
   display: none;
 }

 /* Show the indicator (dot/circle) when checked */
 .container input:checked ~ .checkmark:after {
   display: block;
 }

 /* Style the indicator (dot/circle) */
 .container .checkmark:after {
   position: relative;
   top: 3px;
   left: 3px;
 	width: 15px;
 	height: 15px;
 	border-radius: 50%;
 	background: rgba(35, 31, 32, 1.00);
 }

 /* --------------------------------------------------------------------------- */
                                   /* CONTINUE */
 /* --------------------------------------------------------------------------- */

 .continue-box {
   padding: 20px 60px;
   position: absolute;
   bottom: 0px;
   width: 100%;
   left: 0px;
   display: flex;
   flex-direction: row-reverse;
 }

#continue-button {
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 0.15em;
  background-color: rgba(35, 31, 32, 1.00);
  color: white;
  padding: 15px 0px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
