<!-- <html> -->
{% extends "masterTemplate.html" %}


{% block head %}
<!-- <link rel="stylesheet" href="static/css/login.css"> -->
<link rel="stylesheet" href="static/css/signup.css">
<title>Sign Up</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <div class="page-title-and-line">
    <h1 class="title">Dubai Little League</h1>
    <h2 class="subtitle unselectable">Create an account ></h2>
    <p>Create a parent / guardian account to continue <br>with registration.</p>
  </div>
  <form class="login-signup-box" method="POST" action="/signup">
    <div class="input-group">
      <input type="email" class="input-area" name="email" required />
      <label>Email</label>
    </div>

    <div class="input-group">
      <input type="password" class="input-area" name="password" minlength='8' required />
      <label>Password (min 8 characters)</label>
    </div>

    <!-- submit -->
    <a href="/verify-email" class="unselectable" id="red-button">Sign up</a>

    <div class="unselectable" id="line-or-line">
      <hr>
      <p>or</p>
      <hr>
    </div>

    <a class="unselectable">
      <div id="google-button">
        <img src="static/images/google.png">
        <p>Sign up with Google</p>
      </div>
    </a>

    <p class="unselectable" id="signup-hyperlink">
      Already have an account?
      <b>
        <a href="/login">Login</a>
      </b>
    </p>

  </div>
</div>
{% endblock %}
