{% extends "templater.html" %}


{% block head %}
  <link rel="stylesheet" href="static/css/divisions-fees.css">
  <script type="text/javascript" src="static/js/scrollDown.js"></script>
  <script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
  <title>Divisions & Fees</title>
{% endblock %}


{% block body %}
  <div class="row cover">
    <p id="bigTextOverlay" class="fade">Division</p>
    {{ svg['scroll down arrow'] }}
    <div class="content">
      <h1 class="title">Divisions & Fees</h1>
      <hr>
    </div>
  </div>
  <div class="row main-info">
    <p id="summary">
      We are a developmental league that welcomes all skill levels. All registered players are assessed on their fielding, throwing, catching, and hitting skills. This is used to create balanced teams across each division.
    </p>
    <p id="help">
      {{ svg['help'] }}
      Your baseball age is determined by your child's age on the <b>AGE CUTOFF</b> date.
    </p>

    <h2>Baseball</h2>
    <table>
      <tr>
        <th>DIVISION</th>
        <th>AGE GROUP</th>
        <th>OPEN TO</th>
        <th>FEE</th>
        <th>AGE CUTOFF</th>
      </tr>
      <tr>
        <td><b>Baseball Tee-ball</b></td>
        <td>4-6 years</td>
        <td>Boys & Girls</td>
        <td>1900 AED</td>
        <td>Jan 1, 2021</td>
      </tr>
      <tr>
        <td><b>Baseball Pee Wee</b></td>
        <td>7-8 years</td>
        <td>Boys & Girls</td>
        <td>2200 AED</td>
        <td>May 1, 2021</td>
      </tr>
      <tr>
        <td><b>Baseball Minors</b></td>
        <td>9-10 years</td>
        <td>Boys & Girls</td>
        <td>2200 AED</td>
        <td>May 1, 2021</td>
      </tr>
      <tr>
        <td><b>Baseball Majors</b></td>
        <td>11-12 years</td>
        <td>Boys & Girls</td>
        <td>2200 AED</td>
        <td>May 1, 2021</td>
      </tr>
      <tr>
        <td><b>Baseball Juniors</b></td>
        <td>12-14 years</td>
        <td>Boys & Girls</td>
        <td>2200 AED</td>
        <td>May 1, 2021</td>
      </tr>
      <tr>
        <td><b>Baseball Seniors</></td>
        <td>14-18 years</td>
        <td>Boys & Girls</td>
        <td>2200 AED</td>
        <td>May 1, 2021</td>
      </tr>
    </table>

    <h2>Softball</h2>
    <table>
      <tr>
        <th>DIVISION</th>
        <th>AGE GROUP</th>
        <th>OPEN TO</th>
        <th>FEE</th>
        <th>AGE CUTOFF</th>
      </tr>
      <tr>
        <td><b>Softball Juniors</b></td>
        <td>9-13 years</td>
        <td>Girls</td>
        <td>2200 AED</td>
        <td>Jan 1, 2021</td>
      </tr>
      <tr>
        <td><b>Softball Seniors</b></td>
        <td>14-18 years</td>
        <td>Girls</td>
        <td>2200 AED</td>
        <td>May 1, 2021</td>
      </tr>
    </table>

    <h2>Challengers</h2>
    <p>The Challenger division is our adaptive baseball program for individuals with physical and intellectual challenges.</p>
    <table>
      <tr>
        <th>DIVISION</th>
        <th>AGE GROUP</th>
        <th>OPEN TO</th>
        <th>FEE</th>
        <th>AGE CUTOFF</th>
      </tr>
      <tr>
        <td><b>Baseball Challengers</b></td>
        <td>5+ years</td>
        <td>Boys & Girls</td>
        <td>2200 AED</td>
        <td>May 1, 2021</td>
      </tr>
    </table>

    <h2>Fees</h2>
    <p>Fees include the use of fields, equipment, practices, games, uniform, team photo and end of season trophy/medal. Fees are non-refundable.</p>

  </div>
{% endblock %}
