<!-- ############################## Home page ############################## -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Google SEO -->
    <meta charset="utf-8">
    <meta name="author" content="Seyhan Van Khan & Alizeh Khan">
    <meta name="description" content="Dubai Little League has over 450 players ages 4-17 playing baseball and softball in Dubai, UAE. We are a youth only league.">
    <meta name="keywords" content="dubai,UAE,little league,baseball,softball">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/divisions-fees.css">
    <script type="text/javascript" src="../static/js/navbar.js"></script>

    <title>Divisions & Fees</title>
  </head>
  <body>
    <div id="navbar" class="header">
      <div class="col-8 nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a class="active" href="#">Divisions & Fees</a></li>
          <li><a href="#">Volunteer</a></li>
          <li><a href="#">Schedule</a></li>
        </ul>
      </div>
      <div class="col-4 account">
        <ul>
          <li><a id="register-button" href="#">Register</a></li>
          <li><a id="log-in" href="#">Log In</a></li>
        </ul>
      </div>
    </div>
    <div class="row cover">
      <div class="content">
        <h1 class="title">Divisions & Fees</h1>
        <hr>
      </div>
    </div>

    <div class="creators">
      <h6>Website by Seyhan Van Khan & Alizeh Khan</h6>
    </div>
  </body>
</html>
