<!-- <html> -->
{% extends "masterTemplate.html" %}


{% block head %}
  <script type="text/javascript" src="static/js/mobileRedirect.js"></script>
  <title>Unknown URL</title>
{% endblock %}


{% block body %}
  <img src="static/images/error-404-cat.jpg" align="left">
  <style type="text/css">
    #error404title {
      font-family: 'Nunito Sans';
      font-size: 2em;
      text-transform: lowercase;
    }
    img {
      margin-right: 20px;
    }
  </style>

  <div id="error404title">
    dubailittleleague.com/<strong>{{ request_path[1:] }}</strong> doesnt exist
  </div>
{% endblock %}
