<!-- <html> -->
{% extends "masterTemplate.html" %}


{% block head %}
<link rel="stylesheet" href="static/css/login.css">
<link rel="stylesheet" href="static/css/forgot-password.css">
<title>Sign Up</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <div class="page-title-and-line">
    <h1 class="title">Dubai Little League</h1>
    <h2 class="subtitle unselectable">Forgot Password ></h2>
  </div>
  <div class="login-signup-box">
    <p>Enter your email address and we’ll send you a link to reset your password.</p>
    <div class="input-group">
      <input type="email" class="input-area" required />
      <label>Email</label>
    </div>

    <a class="unselectable" id="red-button">Send password reset link</a>

    <p class="unselectable" id="back-to-login-hyperlink">
      <b><a href="/login">Back to login</a></b>
    </p>
  </div>
</div>
{% endblock %}
