{% extends "templater.html" %}


{% block head %}
    <link rel="stylesheet" href="static/css/home.css">
    <title>Dubai Little League</title>
{% endblock %}


{% block body %}
  <div class="row cover">
    <div class="page-title-elements">
      <h1 class="title">Dubai Little League</h1>
      <hr>
      <h2 class="sub-title">Baseball & Softball</h2>
      <a href="#" class="red-register unselectable">2020/21 Player Registration</a>
    </div>
  </div>
  <div class="sponsors unselectable">
    <img src="static/images/emirates.png">
    <img src="static/images/subway.png">
    <img src="static/images/chevrolet.png">
    <img src="static/images/pepsi.png">
    <img src="static/images/canes.png">
  </div>
  <div class="row footer">
    <div class="col-8">
      <iframe
        width="100%" height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCpgQifRjTn5PN0OFLBIqKGlVXdhOCp_6M&q=Dubai+Little+League&zoom=13" allowfullscreen>
      </iframe>
    </div>
    <div class="col-4 contact-us">
      <h2>Contact Us</h2>
      <p>
        {{ svg['email'] }}
        contact@dubailittleleague.com
        <br>
        {{ svg['phone'] }}
        +971 50 573 9289
        <br>
        {{ svg['instagram'] }}
        @dubailittleleague
        <br>
        {{ svg['facebook'] }}
        @dubailittleleague
      </p>
    </div>
  </div>
{% endblock %}
