<!-- <html> -->
{% extends "templater.html" %}


{% block head %}
  <link rel="stylesheet" href="static/css/home.css">
  <script type="text/javascript" src="static/js/scrollDown.js"></script>
  <script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
  <title>Dubai Little League</title>
{% endblock %}


{% block body %}
  <div class="row cover">
    {{ svg['scroll down arrow'] }}
    <div class="page-title-and-line">
      <h1 class="title">Dubai Little League</h1>
      <hr>
      <h2 class="subtitle">Baseball & Softball</h2>
      <a href="#" id="red-button" class="unselectable">2020/21 Player Registration</a>
    </div>
  </div>
  <div class="map">
    <iframe width="100%" height="100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCpgQifRjTn5PN0OFLBIqKGlVXdhOCp_6M&q=Dubai+Little+League&zoom=13" allowfullscreen></iframe>
  </div>
  <div class="row footer">
    <div class="col-12 sponsors">
      <img src="static/images/emirates.png">
      <img src="static/images/subway.png">
      <img src="static/images/chevrolet.png">
      <img src="static/images/pepsi.png">
      <img src="static/images/canes.png">
    </div>
  </div>
{% endblock %}
