<!-- <html> -->
{% extends "templater.html" %}


{% block head %}
  <link rel="stylesheet" href="static/css/home.css">
  <title>Dubai Little League</title>
{% endblock %}


{% block body %}
  <div class="row cover">
    <div class="page-title-and-line">
      <h1 class="title">Dubai Little League</h1>
      <hr>
      <h2 class="subtitle">Baseball & Softball</h2>
      <a href="#" id="red-button" class="unselectable">2020/21 Player Registration</a>
    </div>
  </div>

  <div class="row footer">
    <div class="col-3 contact">
      <h2>Contact</h2>
      <p>{{ svg['email'] }} contact@dubailittleleague.com</p>
      <p>{{ svg['phone'] }} +971 50 827 7357</p>
    </div>
    <div class="col 3 social">
      <h2>Social</h2>
      <p>{{ svg['instagram'] }} Instagram</p>
      <p>{{ svg['facebook'] }} Facebook</p>
    </div>
    <div class="col-6 sponsors">
      <h2>Sponsors</h2>
      <!-- <img src="static/images/emirates.png">
      <img src="static/images/subway.png">
      <img src="static/images/chevrolet.png">
      <img src="static/images/pepsi.png">
      <img src="static/images/canes.png"> -->
    </div>
  </div>

  <div class="map">
    <iframe width="100%" height="200px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCpgQifRjTn5PN0OFLBIqKGlVXdhOCp_6M&q=Dubai+Little+League&zoom=13" allowfullscreen></iframe>
  </div>

{% endblock %}
