<html lang="en" dir="ltr">
  <head>
    <!-- Google SEO -->
    <meta charset="utf-8">
    <meta name="author" content="Seyhan Van Khan & Alizeh Khan">
    <meta name="description" content="Dubai Little League has over 450 players ages 4-17 playing baseball and softball in Dubai, UAE. We are a youth only league.">
    <meta name="keywords" content="dubai,UAE,little league,baseball,softball,tee-ball,challengers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/log-in.css">

    <title>Log In</title>
  </head>

  <body>
    <div class="row cover">
      <div class="page-title-and-line">
        <h1 class="title unselectable">Dubai Little League</h1>
        <h2 class="subtitle">Welcome back ></h2>
        <p>Log into your parent / guardian account to <br>register your player for the upcoming season</p>
      </div>
      <div class="log-in-sign-up-box">
        <div class="input-group">
          <input type="text" name="email" value="" class="email">
          <label for="email" class="label">Email</label>
        </div>
        <p><b><a href="#">Forgot password?</a></b></p>
        <a id="red-button" href="#">Log in</a>
        <div id="google-button">
          <img src="">
          <a href="#">Log in with Google</a>
        </div>
        <p>Don't have an account? <b><a href="#">Sign up</a></b></p>
      </div>
    </div>


  </body>
