<!-- <html> -->
{% extends "masterTemplate.html" %}


{% block head %}
  <link rel="stylesheet" href="static/css/login.css">
  <title>Login</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <div class="page-title-and-line">
    <h1 class="title">Dubai Little League</h1>
    <h2 class="subtitle unselectable">Welcome back ></h2>
    <p>Log into your parent / guardian account to <br>register your player for the upcoming season</p>
  </div>

  <div class="login-signup-box">
    <div class="input-group">
      <input type="email" class="input-area" required />
      <label>Email</label>
    </div>

    <div class="input-group">
      <input type="password" class="input-area" required />
      <label>Password</label>
    </div>

    <div id="forgot-password" class="unselectable">
      <p>
        <b>
          <a>Forgot password?</a>
        </b>
      </p>
    </div>

    <a class="unselectable" id="red-button">Login</a>

    <a class="unselectable">
      <div id="google-button">
        <img src="static/images/google.png">
        <p>Login with Google</p>
      </div>
    </a>

    <p class="unselectable" id="signup-hyperlink">
      Don't have an account?
      <b>
        <a href="/signup">Sign up</a>
      </b>
    </p>

  </div>
</div>
{% endblock %}
