<!-- <html> -->

<div id="login" class="row cover">
  <div class="page-title-and-line">
    <h1 class="title unselectable">Dubai Little League</h1>
    <h2 class="subtitle">Welcome back ></h2>
    <p>Log into your parent / guardian account to <br>register your player for the upcoming season</p>
  </div>
  <div class="login-sign-up-box">
     <div class="input-group">
      <input type="email" class="input-area" required/>
      <label>Email</label>
    </div>

     <div class="input-group">
      <input type="password" class="input-area" required/>
      <label>Password</label>
    </div>

    <div id="forgot-password">
      <p><b><a href="#">Forgot password?</a></b></p>
    </div>

    <a id="red-button" href="#">Login</a>
    <a href="#">
      <div id="google-button">
        <img src="../static/images/google.png">
        <p>Login with Google</p>
      </div>
    </a>
    <p id="sign-up-hyperlink">Don't have an account? <b><a onclick="showSignup();">Sign up</a></b></p>
  </div>
</div>
