<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Mobile phone redirection -->
    <script type="text/javascript" src="static/js/mobileRedirect.js"></script>
    <!-- Google SEO -->
    <meta charset="utf-8">
    <meta name="author" content="Seyhan Van Khan & Alizeh Khan">
    <meta name="description" content="Dubai Little League has over 450 players ages 4-17 playing baseball and softball in Dubai, UAE. We are a youth only league.">
    <meta name="keywords" content="dubai,UAE,little league,baseball,softball,tee-ball,challengers">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/main.css">

    {% block head %}
      <!-- ANY EXTRA <HEAD> CODE FOR EACH PAGE GOES HERE -->
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <!-- ANY EXTRA <BODY> CODE FOR EACH PAGE GOES HERE -->
    {% endblock %}
  </body>
</html>
