{% extends "templater.html" %}


{% block head %}
<link rel="stylesheet" href="static/css/schedule.css">
<script type="text/javascript" src="static/js/scrollDown.js"></script>
<script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
<title>Schedule</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <p id="bigTextOverlay">Schedule</p>
  {{ svg['scroll down arrow'] }}
  <div class="page-title-elements">
    <h1 class="title">Schedule</h1>
    <hr>
  </div>
</div>
{% endblock %}
