<!-- <html> -->
{% extends "templater.html" %}


{% block head %}
<link rel="stylesheet" href="static/css/schedule.css">
<script type="text/javascript" src="static/js/scrollDown.js"></script>
<script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
<title>Schedule</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <p id="bigTextOverlay" class="unselectable">Schedule</p>
  {{ svg['scroll down arrow'] }}
  <div class="page-title-and-line">
    <h1 class="title unselectable">Schedule</h1>
    <hr>
  </div>
</div>

<div class="banner">
  <h2 class="unselectable">2020/21 Player Registration Now Open</h2>
  <a href="#" id="red-button" class="unselectable">2020/21 Register Player</a>
  <p>Registration closes October 5, 2020</p>
</div>
{% endblock %}
