<!-- <html> -->
{% extends "masterTemplate.html" %}


{% block head %}
  <link rel="stylesheet" href="static/css/login.css">
  <link rel="stylesheet" href="static/css/sign-up.css">
  <title>Sign Up</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <div class="page-title-and-line unselectable">
    <h1 class="title">Dubai Little League</h1>
    <h2 class="subtitle">Create an account ></h2>
    <p>Create a parent / guardian account to continue <br>with registration.</p>
  </div>
  <div class="login-sign-up-box">
    <div class="input-group">
      <input type="email" required class="input-area" />
      <label>Email</label>
    </div>

    <div class="input-group">
      <input type="password" required class="input-area" />
      <label>Password (min 8 characters)</label>
    </div>

    <a id="red-button" href="#">Sign up</a>

    <div id="line-or-line">
      <hr>
      <p>or</p>
      <hr>
    </div>

    <a href="#">
      <div id="google-button">
        <img src="static/images/google.png">
        <p class="unselectable">Sign up with Google</p>
      </div>
    </a>

    <p id="sign-up-hyperlink">Already have an account? <b><a href="/login">Login</a></b></p>
  </div>
</div>
{% endblock %}
