<!-- <html> -->


<div id="signup" style="display:none;" class="row cover">
  <div class="page-title-and-line">
    <h1 class="title unselectable" onclick="showLogin();">Dubai Little League</h1>
    <h2 class="subtitle">Create an account ></h2>
    <p>Create a parent / guardian account to continue <br>with registration.</p>
  </div>
  <div class="login-sign-up-box">
    <div class="input-group">
      <input type="text" name="email" value="" class="email">
      <label for="email" class="label">Email</label>
    </div>
  </div>
</div>
