{% extends "templater.html" %}


{% block head %}
<link rel="stylesheet" href="static/css/volunteer.css">
<title>Volunteer</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <p id="bigTextOverlay" class="fade">Volunteer</p>
  {{ svg['scroll down arrow'] }}
  <div class="page-title-elements">
    <h1 class="title">Volunteer</h1>
    <hr>
  </div>
</div>
<div class="row main-info">
  <p id="summary">
    Dubai Little League is a nonprofit organisation recognised by the Community Development Authority of Dubai. Our success has been based on the hard work of our volunteers, led by a local Board of Directors who are also all volunteers. The majority of our volunteers are parents with kids in the League and all parents are encouraged to volunteer in some way.
  </p>
</div>
{% endblock %}
