<!-- <html> -->
{% extends "templater.html" %}


{% block head %}
<link rel="stylesheet" href="static/css/volunteer.css">
<script type="text/javascript" src="static/js/scrollDown.js"></script>
<script type="text/javascript" src="static/js/jquery/jquery.min.js"></script>
<title>Volunteer</title>
{% endblock %}


{% block body %}
<div class="row cover">
  <p id="bigTextOverlay" class="unselectable">Volunteer</p>
  {{ svg['scroll down arrow'] }}
  <div class="page-title-elements">
    <h1 class="title unselectable">Volunteer</h1>
    <hr>
  </div>
</div>
<div class="row main-info">
  <p id="summary">
    Dubai Little League is a nonprofit organisation recognised by the Community Development Authority of Dubai. Our success has been based on the hard work of our volunteers, led by a local Board of Directors who are also all volunteers. The majority of our volunteers are parents with kids in the League and all parents are encouraged to volunteer in some way.
  </p>
  <h2>League Positions</h2>
  <hr>
  <div class="row volunteer-positions">
    <div class="col-4 position">
      <h3>Coach / Assistant Coach</h3>
      <h4 id="required">Required</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Umpire</h3>
      <h4 id="position-filled">Position Filled</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Scorekeeper</h3>
      <h4 id="position-filled">Position Filled</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Team Mom / Dad</h3>
      <h4 id="required">Required</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Consession Stand Helper</h3>
      <h4 id="required">Required</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
  </div>
  <h2>Administrative Positions</h2>
  <hr>
  <div class="row">
    <div class="col-4 position">
      <h3>Board Member</h3>
      <h4 id="required">Required</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Sponsorship Coordinator</h3>
      <h4 id="position-filled">Position Filled</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Tournament Coordinator</h3>
      <h4 id="required">Required</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Division Coordinator</h3>
      <h4 id="required">Required</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
    <div class="col-4 position">
      <h3>Consessions Manager</h3>
      <h4 id="position-filled">Position Filled</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.</p>
    </div>
  </div>
</div>

<div class="banner">
  <h2 class="unselectable">2020/21 Volunteering Applications Now Open</h2>
  <a href="#" class="red-register unselectable">Volunteer</a>
  <p>Applications close September 30, 2020</p>
</div>
{% endblock %}
