<!-- <html> -->
{% extends "info-pages/informationPagesTemplate.html" %}


{% block informationPagesHead %}
  <link rel="stylesheet" href="static/css/info-pages/divisions-fees.css">
  <title>Divisions & Fees</title>
{% endblock %}


{% block informationPagesBody %}
  <div class="row cover">
    <p id="bigTextOverlay" class="unselectable">Division</p>
    {{ svg['scroll down arrow'] }}
    <div class="page-title-and-line">
      <h1 class="title unselectable">Divisions & Fees</h1>
      <hr>
    </div>
  </div>
  <div id="scrollStopHere" class="row main-info">
    <p id="summary">
      We are a developmental league that welcomes all skill levels. All registered players are assessed on their fielding, throwing, catching, and hitting skills. This is used to create balanced teams across each division.
    </p>
    <p id="help">
      {{ svg['help'] }}
      Your baseball age is determined by your child's age on the <b>&nbsp;AGE CUTOFF&nbsp;</b> date.
    </p>
    {% for division in divisionTable %}
      <h2>{{division}}</h2>
      {% if division=="Challengers" %}
        <p>{{ challengerDescription }}</p>
      {% endif %}
      <table>
        <tr>
          {% for header in divisionTableHeaders %}
            <th>{{header}}</th>
          {% endfor %}
        </tr>
        {% for row in divisionTable[division] %}
          <tr>
            <td><b>{{row[0]}}</b></td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}


    <h2>Fees</h2>
    <p>Fees include the use of fields, equipment, practices, games, uniform, team photo and end of season trophy/medal. Fees are non-refundable.</p>

  </div>

  <div class="banner">
    <h2 class="unselectable">2020/21 Player Registration Now Open</h2>
    <a href="#" id="red-button" class="unselectable">2020/21 Register Player</a>
    <p>Registration closes October 5, 2020</p>
  </div>
{% endblock %}
